<h1>Calendar</h1>

<div class="calendar">
  <% @days.each do |day, appointments| %>
    <div class="day">
      <%= day %>
      <div class="times">
        <% appointments.each do |appointment| %>
          <p><%= appointment.appointment_time %></p>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
