<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @appointment.user.first_name %></h1>
    <p>
      <!-- TODO: Improve date handling -->
      You have new appointment <%= @appointment.day.date %> at <%= @appointment.time %>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
