<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @appointment.user.first_name %></h1>
    <p>
      You have new appointment <%= @appointment.working_day.to_s %>
      at <%= @appointment.time.strftime('%H:%M') %>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
