<div class="container-fluid">
  <div class="row">
    <div class="col"><%= link_to 'Add day', new_day_path %></div>
  </div>
  <div class="row">
    <% @days.each do |day| %>
      <div class="col-3">
        <div class="card">
          <div class="card-header"><%= day %></div>
          <ul class="list-group list-group-flush">
            <% day.appointments.each do |appointment| %>
              <li class="list-group-item">
                <%= appointment %> <%= link_to 'edit', edit_day_path(appointment) %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
</div>
