<div class="container">
  <div class="row">
    <div class="col-6 offset-3">
      <h1>Create new work day</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-6 offset-3">
      <%= render 'form' %>
    </div>
  </div>
</div>
