// Place all the styles related to the Appointments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.appointments {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  .appointments-header {
    display: flex;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    .date,
    .customer,
    .time {
      flex: 1;
      text-align: center;
    }
  }
  .appointment {
    display: flex;
    .date,
    .customer,
    .time {
      display: flex;
      flex: 1;
      height: 35px;
      padding-left: 15px;
      align-items: center;
      border-right: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      &:first-of-type {
          border-left: 1px solid #ddd;
      }
    }
  }
}
