// Place all the styles related to the Appointments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.appointments {
  display: flex;
  flex-direction: column;
  .appointment {
    display: flex;
    .date,
    .customer,
    .time {
      flex-basis: 200px;
    }
  }
}
