<div id='app'>
   <%= content_tag :div,
  id: "appointment-form",
  data: {
    appointment: @appointment.to_json(except: [:created_at, :updated_at])
  } do %>
    <label for="time">Select Time</label>
    <input v-model="appointment.time" id="time" type="text" />
  <% end %>
</div>
