<div id='app'>
   <%= content_tag :div,
  id: "appointment-form",
  data: {
    appointment: @appointment.to_json(except: [:created_at, :updated_at])
  } do %>

  <el-date-picker
    v-model="appointment.date"
    type="date"
    placeholder="Pick a day">
  </el-date-picker>

  <button
    @click="saveAppointment"
    class="btn btn-primary"
  >
    {{ btnValue }}
  </button>
  <button
    v-if="appointment.id"
    class="btn btn-danger"
    @click="deleteAppointment"
  >
    Delete
  </button>

  <% end %>
</div>
