<h1>Appointments</h1>

<% if current_user.is_admin %>
  <%= link_to 'New appointment', appointment_path %>
<% else %>
  <div class="appointments">
      <div class="appointments-header">
        <div class="date">Date</div>
        <div class="customer">Customer</div>
        <div class="time">Time</div>
      </div>
    <% @appointments.each do |appointment| %>
      <div class="appointment">
        <div class="date"><%= appointment.date %></div>
        <div class="customer">
          <%= "#{appointment.user.first_name} #{appointment.user.last_name}" %>
        </div>
        <div class="time">
          <%= appointment.appointment_time %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
