<h1>Appointments</h1>
<table>
    <tr>
        <th>Date</th>
        <th>Customer</th>
        <th>Time</th>
    </tr>
    <% @appointments.each do |appointment| %>
        <tr>
            <td><%= appointment.date %></td>
            <td><%= appointment.customer.first_name %></td>
            <td><%= appointment.appointment_time.time.strftime("%I:%M%p") %></td>
        </tr>
    <% end %>
<table>