<h1>Appointments</h1>

<div class="appointments">
    <div class="appointments-header">
      <div class="date">Date</div>
      <div class="customer">Customer</div>
      <div class="time">Time</div>
    </div>
  <% @appointments.each do |appointment| %>
    <div class="appointment">
      <div class="date"><%= appointment.date %></div>
      <div class="customer">
        <%= "#{appointment.customer.first_name} \
             #{appointment.customer.last_name}" %>
      </div>
      <div class="time">
        <%= appointment.appointment_time.time_to_string %>
      </div>
    </div>
  <% end %>
</div>
<%= link_to 'New appointment', appointment_new_path %>
