<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1>Appointments</h1>
    </div>
  </div>
  <div class="row">
    <% @appointments.each do |appointment| %>
      <div class="col-3">
        <div class="card">
          <div class="card-header"><%= appointment.date.strftime('%a %B %d') %></div>
          <div class="card-body">
            <%= appointment.appointment_time %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
