<% content_for :head do %>
  <%= javascript_pack_tag 'appointment_form',
                          'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'appointment_form',
                          'data-turbolinks-track': 'reload' %>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-6 offset-3">
      <h1>Pick date</h1>
    </div>
  </div>
  <!-- TODO Add form states -->
  <div class="row">
    <div class="col"><%= link_to 'Back', days_path %></div>
  </div>
  <div id="app">
    <%= content_tag :div,
        id: "appointment-form",
        class: "row",
        data: {
          days: @days.to_json(except: [:created_at, :updated_at]),
          appointment: @appointment.to_json(
              except: [:created_at, :updated_at]
          ),
          # TODO Add lazy loading of users list.
          users: User.all
        } do %>
        <div v-if="state == 'selectDate'"
             v-for="day in days"
             class="col-3"
             v-bind:key="day.id"
        >
          <div @click="confirmDate(day.id)"
               class="card mb-4"
          >
            <div class="card-body">
              <!-- TODO refactor -->
              {{ new Date(day.date).toLocaleDateString('ru') }}
            </div>
          </div>
        </div>
        <div v-if="state == 'selectTime'">
          <el-autocomplete
            class="inline-input"
            v-model="userName"
            :fetch-suggestions="querySearch"
            placeholder="Please Input"
            :trigger-on-focus="false"
            @select="handleSelect"
            value-key="first_name">
          </el-autocomplete>
          <el-time-select
            v-model="time"
            :picker-options="{
              start: '08:30',
              step: '00:15',
              end: '18:30'
            }"
            placeholder="Select time">
          </el-time-select>
          <button @click="createAppointment"
                  class="btn btn-primary"
          >
            Create
          </button>
        </div>
    <% end %>
  </div>
</div>
