<% content_for :head do %>
  <%= javascript_pack_tag 'day_form', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'day_form', 'data-turbolinks-track': 'reload' %>
<% end %>


<div class="columns">
  <div class="column">
    <h1>Edit work day</h1>
  </div>
</div>
<div class="column">
  <%= render 'form' %>
</div>
